body{
margin:0;
font-family:Arial;
display:flex;
background:#f1f5f9;
}

.sidebar{
width:260px;
background:#0f172a;
height:100vh;
padding:20px;
position:fixed;
color:white;
}

.sidebar button{
width:100%;
padding:14px;
margin-bottom:10px;
border:none;
border-radius:12px;
background:#1e293b;
color:white;
cursor:pointer;
font-size:15px;
}

.sidebar button:hover{
background:#2563eb;
}

.content{
margin-left:280px;
padding:30px;
width:100%;
}

.seccion{
display:none;
}

.activa{
display:block;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;
}

.card{
background:white;
padding:20px;
border-radius:20px;
box-shadow:0 5px 15px rgba(0,0,0,0.08);
margin-top:20px;
}

input,select{
width:100%;
padding:12px;
margin-top:10px;
margin-bottom:10px;
border-radius:10px;
border:1px solid #cbd5e1;
box-sizing:border-box;
}

button{
padding:12px 20px;
border:none;
border-radius:10px;
background:#2563eb;
color:white;
cursor:pointer;
font-weight:bold;
}

table{
width:100%;
margin-top:20px;
border-collapse:collapse;
background:white;
}

th,td{
padding:12px;
border-bottom:1px solid #ddd;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:20px;
}

.item{
background:white;
padding:15px;
margin-top:10px;
border-radius:15px;
box-shadow:0 3px 10px rgba(0,0,0,0.07);
}